/**
Theme Name: Druckermax
Author: MONOBUNT GmbH
Author URI: https://monobunt.at/
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: druckermax
Template: astra
*/
.et-db #et-boc .et_pb_row {max-width: 1200px;}
.et-db #et-boc .et_pb_shop .woocommerce ul.products li.product a img {height: 265px; object-fit: contain; background-color: #ffffff;}
.woocommerce div.product div.images img {width: auto; margin: auto;}
.woocommerce ul.products li.product .ast-shop-product-out-of-stock, .woocommerce-page ul.products li.product .ast-shop-product-out-of-stock {font-size: 11px;}
.ast-search-icon .astra-search-icon {font-size: 1.6em; line-height: 1.6em !important;}
.ast-masthead-custom-menu-items {padding: 0;}
.ast-header-break-point .ast-header-widget-area .widget {display: inline-block;}
.ast-above-header-section {font-size: 13px;}
.ast-above-header-menu a {font-size: 13px; color: #FFFFFF;}
.astra-search-shortcode {padding: 0 !important;}
.ast-above-header {background-color: #00ace2; color: #FFFFFF;}
.ast-above-sticky-header-active .ast-above-header-wrap .ast-above-header {background-color: rgba(0,172,226,0.95);}
.ast-above-sticky-header-active .ast-above-header-navigation a {color: #FFFFFF;}
.search-results .site-content > .ast-container {max-width: 1200px;}
.ast-page-builder-template .ast-archive-description {padding-left: 0px;}
.ast-header-widget-area .widget p {padding: 10px 20px 0px 20px;}
#order_review #order_review_heading{display:none!important;}
.woocommerce ul#shipping_method li{text-indent:0!important;padding-left:0!important;}
.woocommerce-page.woocommerce-checkout form #order_review{padding-bottom:30px;}
.produktfilterwidget1{width:100%;display:table;padding:10px;color:#ffffff!important;background:#3197d6;text-align:center;}
.produktfilterwidget1:hover{text-decoration:none!important;}
.produktfilterwidget2{width:100%;display:none;padding:10px;color:#ffffff!important;background:#3197d6;text-align:center;}
.produktfilterwidget2:hover{text-decoration:none!important;}
#woocommerce_layered_nav-2{display:none;}


/** AW Search **/
.aws-container {margin-left: 5%; width: 38%;}

@media (max-width: 1080px){
.aws-container {width: 25%;}
}

@media (max-width: 921px){
.ast-masthead-custom-menu-items {padding: 0 1em;}
.aws-container {width: 35%; margin-left: 0%;}
}

@media (max-width: 768px){
  .aws-container {width: 80%; max-width: 33%;}
  .ast-left-sidebar #content>.ast-container {-webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -moz-box-orient: horizontal; -moz-box-direction: normal; -ms-flex-direction: row; flex-direction: row;}
}

@media only screen and ( max-width: 480px ) {
.et-db #et-boc .et_pb_shop .woocommerce ul.products li.product a img {height: 180px;}
}

@media only screen and ( max-width: 420px ) {
  .aws-container {width: 71%; max-width: none;}
}

@media only screen and ( max-width: 380px ) {
  .aws-container {width: 65%;}
}