.ast-left-sidebar #content #secondary{
    width: 100% !important;
    padding-right: 0px;
    border: 0px;
}

.ast-left-sidebar #content #primary{
    width: 100%;
    border: 0px;
    padding-left: 0px;
}

.ast-container .sidebar-main{
    display: flex;
    flex-wrap: wrap;
}

.sidebar-main #woocommerce_layered_nav-3{
    display: block;
    margin-left: 2.5%;
    width: 47.5%;
    background: rgba(240, 240, 240, 0.87);
    border: 2px solid #dedede;
}

.sidebar-main #woocommerce_product_categories-2{
    display: none;
}

.sidebar-main #custom_html-4{
    display: none;
}

.sidebar-main #woocommerce_layered_nav-1{
    width: 47.5%;
    margin-right: 2.5%;
    background: rgba(240, 240, 240, 0.87);
    border: 2px solid #dedede;
}

.sidebar-main .widget .widget-title{
    color: #000;
    background: #fff;
    padding-left: 30px;
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 0px;
    font-weight: 600;
    font-family: 'Roboto',sans-serif;
}

.ast-left-sidebar #content #primary .ast-woocommerce-container .woocommerce-result-count,
.ast-left-sidebar #content #primary .ast-woocommerce-container .woocommerce-ordering,
.ast-left-sidebar #content #primary .ast-woocommerce-container .woocommerce-breadcrumb,
.ast-left-sidebar #content #primary .ast-woocommerce-container .woocommerce-products-header{
    display: none;
}

.ast-container{
    padding: 0px 15px;
}

.sidebar-main .widget .woocommerce-widget-layered-nav-dropdown{
    padding: 18px 30px 20px;
}

.sidebar-main .widget .woocommerce-widget-layered-nav-dropdown select{
    width: 100%;
    padding: 0px;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    border: 2px solid #dedede;
    font-size: 15px !important;
    color: #585858;
    background: #fff;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.sidebar-main #woocommerce_layered_nav-3 select{
    height: 135px;
}

.sidebar-main #woocommerce_layered_nav-1 .custom-select{
    position: relative;
}

.sidebar-main #woocommerce_layered_nav-1 .custom-select .select-selected:after{
    content: "\f0d7";
    font-family: FontAwesome;
    position: absolute;
    top: 3px;
    right: 20px;
    color: #000000;
    opacity: .5;
    font-size: 18px;
    pointer-events: none;
}

/*===========================================================*/

.sidebar-main #woocommerce_layered_nav-1 .custom-select select {
    display: none;
}

.sidebar-main #woocommerce_layered_nav-1 .select-selected {
    background-color: #fff;
    cursor: pointer;
}

/*.sidebar-main #woocommerce_layered_nav-1 .select-selected:after {*/
    /*position: absolute;*/
    /*content: "";*/
    /*top: 14px;*/
    /*right: 10px;*/
    /*width: 0;*/
    /*height: 0;*/
    /*border: 6px solid transparent;*/
    /*border-color: #fff transparent transparent transparent;*/
/*}*/

/*.sidebar-main #woocommerce_layered_nav-1 .select-selected.select-arrow-active:after {*/
    /*border-color: transparent transparent #fff transparent;*/
    /*top: 7px;*/
/*}*/

.sidebar-main #woocommerce_layered_nav-1 .select-items div{
    width: 100%;
    padding: 0px;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    font-size: 15px;
    color: #585858;
    background: #fff;
    cursor: pointer;
}

.sidebar-main #woocommerce_layered_nav-1 .select-items::-webkit-scrollbar {
    width: 5px;
    background-color: #00ACE2;
}
.sidebar-main #woocommerce_layered_nav-1 .select-items::-webkit-scrollbar-thumb {
    background-color: #00ACE2;
}
.sidebar-main #woocommerce_layered_nav-1 .select-items::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    background-color: #ffffff;
}

.sidebar-main #woocommerce_layered_nav-1 .select-selected {
    width: 100%;
    padding: 0px;
    height: 40px;
    line-height: 38px;
    padding-left: 20px;
    border: 2px solid #dedede;
    font-size: 15px;
    color: #585858;
    background: #fff;
}

.sidebar-main #woocommerce_layered_nav-1 .select-items {
    position: absolute;
    background-color: #fff;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99999;
    border: 2px solid #dedede;
    border-top: 0px;
    max-height: 200px;
    overflow-y: scroll;
}

.select-hide {
    display: none;
}

/*.select-items div:hover, .same-as-selected {*/
    /*background-color: rgba(0, 0, 0, 0.1);*/
/*}*/

.sidebar-main #woocommerce_layered_nav-3 .woocommerce-widget-layered-nav-dropdown select{
    padding-left: 30px;
}

.sidebar-main select option:checked{
    color: #00ACE2 !important;
}

.sidebar-main #pwb_list_widget-8{
    margin-bottom: 0px;
}

.sidebar-main #pwb_list_widget-8 .pwb-columns{
    width: 16.66%;
    padding: 0px 17px;
}

.sidebar-main #pwb_list_widget-8 .pwb-columns.active img{
    border: 2px solid #00ACE2;
}

.sidebar-main #pwb_list_widget-8 .widget-title{
    display: none;
}

.sidebar-main #pwb_list_widget-8 .pwb-row{
    margin-top: 23px;
    padding: 0px 15px;
    margin-bottom: 18px;
}

.select2-container.select2-container--default.select2-container--open .select2-results .select2-results__message{
    display: none;
}

.select2-container.select2-container--default.select2-container--open .select2-search--dropdown{
    padding: 0px;
}

#woocommerce_layered_nav-1 .select2-container .select2-selection--single{
    background: #00ACE2;
    border: 0px;
    padding: 11px 30px;
}

#woocommerce_layered_nav-1 .select2-container .select2-selection--single .select2-selection__rendered{
    color: #fff;
    font-size: 14px;
}

#woocommerce_layered_nav-1 .select2-container .select2-selection--single .select2-selection__arrow{
    transform: unset;
    top: 5px;
    right: 30px;
    text-align: center;
    z-index: 9999;
}

#woocommerce_layered_nav-1 .select2-container .select2-selection--single .select2-selection__arrow b{
    display: none;
}

#woocommerce_layered_nav-1 .select2-container .select2-selection--single .select2-selection__arrow:before{
    content: "\f002";
    font-family: fontawesome;
    color: #fff;
    pointer-events: none;
}

#woocommerce_layered_nav-1 .select2-container{
    width: 100% !important;
}

.select2-container.select2-container--default.select2-container--open .select2-search--dropdown .select2-search__field{
    height: 40px;
    background: #00ACE2;
    padding: 10px 30px;
    color: #fff;
    font-size: 14px;
    border: 1px solid #00ACE2;
}

.select2-container.select2-container--default.select2-container--open .select2-search--dropdown .select2-search__field:focus{
    border: 0px;
    outline: none;
}

.select2-container.select2-container--default.select2-container--open .select2-dropdown--below{
    position: relative;
    margin-top: -36px;
    border: 0px;
    border-radius: 0px;
}

.select2-container.select2-container--default.select2-container--open .select2-results__option{
    font-size: 14px;
    padding: 7px 30px;
}


#woocommerce_layered_nav-3 .select2-container{
    width: 100% !important;
    margin-bottom: 5px;
}

#woocommerce_layered_nav-3 .select2-container .select2-selection--single .select2-selection__arrow:before{
    content: "\f002";
    font-family: fontawesome;
    color: #fff;
    pointer-events: none;
}

#woocommerce_layered_nav-3 .select2-container .select2-selection--single{
    background: #00ACE2;
    border: 0px;
    padding: 11px 30px;
}

#woocommerce_layered_nav-3 .select2-container .select2-selection--single .select2-selection__rendered{
    color: #fff;
    font-size: 14px;
}

#woocommerce_layered_nav-3 .select2-container .select2-selection--single .select2-selection__arrow{
    transform: unset;
    top: 5px;
    right: 30px;
    text-align: center;
    z-index: 9999;
}

#woocommerce_layered_nav-3 .select2-container .select2-selection--single .select2-selection__arrow b{
    display: none;
}

.custom-select select:-internal-list-box option:selected  {
    color: red !important;
    background-color: #FFC894 !important;
}

.custom-select select:-internal-list-box:focus  option:checked  {
    color: #333 !important;
    background-color: #FFC894 !important;
}

.custom-select select:-internal-list-box:focus  option:selected  {
    color: #333 !important;
    background-color: #FFC894 !important;
}

.custom-select select:-internal-list-box:focus option::selection  {
    color: #333 !important;
    background-color: #FFC894 !important;
}

body select.woocommerce-widget-layered-nav-dropdown.dropdown_layered_nav_kompatible-modelle.select2-hidden-accessible option:checked{
    background: #fff linear-gradient(0deg, #fff 0%, #fff 100%);
    -webkit-text-fill-color: #00ACE2;

}
body select.woocommerce-widget-layered-nav-dropdown.dropdown_layered_nav_kompatible-modelle.select2-hidden-accessible option:selected{
    color: red !important;
}

.sidebar-main #woocommerce_layered_nav-3 .woocommerce-widget-layered-nav-dropdown select::-webkit-scrollbar {
    width: 6px;
    background-color: #00ACE2;
}
.sidebar-main #woocommerce_layered_nav-3 .woocommerce-widget-layered-nav-dropdown select::-webkit-scrollbar-thumb {
    background-color: #00ACE2;
}
.sidebar-main #woocommerce_layered_nav-3 .woocommerce-widget-layered-nav-dropdown select::-webkit-scrollbar-track {
    background-color: #ffffff;
}

#woocommerce_layered_nav-1 .woocommerce-widget-layered-nav-dropdown__submit, #woocommerce_layered_nav-3 .woocommerce-widget-layered-nav-dropdown__submit{
    display: none;
}

#banner-homepage{
    display: none;
}

#banner-homepage .et_pb_text_inner h2{
    font-size: 42px !important;
}

.home #content {
    background: #fff;
}




body .sidebar-main #woocommerce_layered_nav-3 .custom-select .mess-not-select{
    margin: 35px 0px;
    color: #80808085;
    font-weight: 600;
    font-family: 'Roboto',sans-serif;
    text-align: center;
}
body .sidebar-main #woocommerce_layered_nav-3 .custom-select select,
body .sidebar-main #woocommerce_layered_nav-3 .custom-select .select2-container--default,
body .sidebar-main #woocommerce_layered_nav-3 .custom-select.active .mess-not-select
{
    display: none;
}
body .sidebar-main #woocommerce_layered_nav-3 .custom-select.active .select2-container--default{
    display: block;
}



/*style homepage*/
/*=================================================================================*/

.content-homepage{
    display: none;
}

.home .content-homepage{
    display: block;
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}

.content-homepage .et_pb_with_background .et_pb_row{
    width: 80%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.content-homepage .et_pb_section{
    padding: 0px !important;
}

.content-homepage .woocommerce .products li{
    display: flex;
    flex-wrap: wrap;
    float: left;
    margin: 0 3.8% 2.992em 0 !important;
    padding: 0 !important;
    position: relative;
    width: 22.05% !important;
}

.content-homepage .woocommerce .products li:nth-child(4n){
    margin-right: 0px !important;
}

.content-homepage .woocommerce .products li .astra-shop-thumbnail-wrap{
    flex: unset !important;
    flex-basis: 100% !important;
}

.content-homepage .woocommerce .products li.product .add_to_cart_button{
    display: none;
}

.content-homepage .woocommerce .products li:nth-child(2){
    margin: 0 3.8% 2.992em 0 !important;
}

.content-homepage .woocommerce .products li .astra-shop-summary-wrap{
    flex: unset !important;
    padding: 0px !important;
}

.content-homepage .woocommerce .products li.product a img{
    height: 265px;
    object-fit: contain;
    background-color: #ffffff;

}

.content-homepage .et_pb_column .et_pb_module .et_pb_button{
    font-size: 20px;
    font-weight: 500;
    padding: 11px 20px;
    line-height: 1.7em!important;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border: 2px solid;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.content-homepage .et_pb_column .et_pb_module .et_pb_button:after{
    line-height: inherit;
    left: auto;
    font-size: 12px !important;
    margin-top: 2px;
    content: "\f054";
    opacity: 0;
    position: absolute;
    margin-left: -1em;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    transition: all .2s;
    font-weight: 400;
    text-shadow: none;
    font-family: FontAwesome;
}

.content-homepage .et_pb_column .et_pb_module .et_pb_button:hover{
    background-color: rgba(0,0,0,.05);
    border: 2px solid transparent;
    padding: 11px 40px 11px 14px;
}

.content-homepage .et_pb_column .et_pb_module .et_pb_button:hover:after{
    opacity: 1;
    margin-left: 12px;
}

.content-homepage .et_pb_column .et_pb_button_module_wrapper{
    text-align: center;
}

.content-homepage > p{
    margin: 0px;
}

.content-homepage .et_pb_section_4 .et_pb_row .et_pb_column{
    width: 29.667%;
    margin-right: 5.5%;
}

.content-homepage .et_pb_section_4 .et_pb_row .et_pb_column:last-child{
    margin-right: 0px !important;
}

.content-homepage .et_pb_section_4 .et_pb_row{
    display: flex;
    flex-wrap: wrap;
}

.content-homepage .et_overlay{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.9);
    opacity: 0;
    transition: all .3s;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
}

.content-homepage .et_overlay:before{
    content: '\e050';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    -moz-transition: all .4s;
    -webkit-transition: all .4s;
    transition: all .4s;
    font-family: ETmodules!important;
}

.content-homepage .et_shop_image:hover .et_overlay{
    z-index: 3;
    opacity: 1;
}

#main .ast-woocommerce-container ul.products li.product{
    width: 22.05% !important;
    margin: 0 3.8% 2.992em 0 !important;
    padding: 0 !important;
    float: left;
    display: flex;
    flex-wrap: wrap;
}

#main .ast-woocommerce-container ul.products li.product:nth-child(4n){
    margin-right: 0px !important;
}

#main .ast-woocommerce-container ul.products li.product .astra-shop-thumbnail-wrap{
    flex: unset;
    width: 100%;
}

#main .ast-woocommerce-container ul.products li.product .astra-shop-thumbnail-wrap a{
    line-height: 1em;
    padding-bottom: 10px;
    font-weight: 500;
    text-transform: none;
    font-style: normal;
}

#main .ast-woocommerce-container ul.products li.product .astra-shop-summary-wrap{
    flex: unset;
    width: 100%;
    padding: 0px;
}

#main .ast-woocommerce-container ul.products li.product a img{
    height: 265px;
    object-fit: contain;
    background-color: #ffffff;
}

#main .ast-woocommerce-container ul.products li.product .et_shop_image{
    display: block;
    position: relative;
    line-height: .8!important;
    margin-bottom: 10px;
}

#main .ast-woocommerce-container ul.products li.product .et_overlay{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.9);
    opacity: 0;
    transition: all .3s;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
}

#main .ast-woocommerce-container ul.products li.product .et_overlay:before{
    content: '\e050';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    -moz-transition: all .4s;
    -webkit-transition: all .4s;
    transition: all .4s;
    font-family: ETmodules!important;
}

#main .ast-woocommerce-container ul.products li.product .et_shop_image:hover .et_overlay{
    z-index: 3;
    opacity: 1;
}

/*style filter*/

#woocommerce_layered_nav-3 .custom-select .select-selected{
    display: none;
}

#woocommerce_layered_nav-3 .custom-select.active .select-hide{
    display: block;
    height: 135px;
    background: #fff;
    overflow-y: scroll;
    border: 2px solid #dedede;
    padding-left: 30px;
}

#woocommerce_layered_nav-3 .custom-select  .select-hide::-webkit-scrollbar {
    width: 6px;
    background-color: #00ACE2;
}
#woocommerce_layered_nav-3 .custom-select  .select-hide::-webkit-scrollbar-thumb {
    background-color: #00ACE2;
}
#woocommerce_layered_nav-3 .custom-select  .select-hide::-webkit-scrollbar-track {
    background-color: #ffffff;
}

#woocommerce_layered_nav-3 .custom-select .select-hide div{
    line-height: 27px;
    font-size: 15px;
    cursor: pointer;
}

#woocommerce_layered_nav-3 .custom-select .select-hide div.active{
    color: #00ACE2;
}

#woocommerce_layered_nav-3 .custom-select .select-hide div:hover{
    background: transparent;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder{
    color: #fff !important;
}


@media (min-width: 981px) {
    .content-homepage .et_pb_with_background .et_pb_row{
        padding: 2% 0;
    }

    .content-homepage .et_pb_column_4_4 .et_pb_module,
    .content-homepage .et_pb_column_4_4 .et_pb_module{
        margin-bottom: 2.75%;
        padding-bottom: 22px!important;
    }
}

@media (max-width: 980px) {
    .content-homepage .et_pb_section_4 .et_pb_row .et_pb_column{
        width: 100%;
        margin-right: 0px;
    }
    .sidebar-main #pwb_list_widget-8 .pwb-columns{
        width: 33.33%;
    }
}

@media (max-width: 768px) {
    .content-homepage{
        margin-left: 0px;
        transform: unset;
    }
}

@media (max-width: 767px) {

    /*#woocommerce_layered_nav-3 .woocommerce-widget-layered-nav-dropdown__submit{*/
        /*display: block;*/
    /*}*/

    #main .ast-woocommerce-container ul.products li.product{
        width: 48% !important;
        margin: 0px 4% 20px 0px !important;
    }

    #main .ast-woocommerce-container ul.products li.product:nth-child(2n){
        margin-right: 0px !important;
    }

    #main .ast-woocommerce-container ul.products li.product .et_shop_image{
        padding-bottom: 100%;
        position: relative;
    }

    #main .ast-woocommerce-container ul.products li.product a img{
        position: absolute;
        height: 100%;
        width: 100%;
    }

    .content-homepage .woocommerce .products li.product .et_shop_image{
        padding-bottom: 100%;
        position: relative;
        display: flex;
        margin-bottom: 10px;
    }

    .content-homepage .woocommerce .products li.product a img{
        position: absolute;
        width: 100%;
        height: 100%;
    }

}

@media (max-width: 767px) {
    .sidebar-main #woocommerce_layered_nav-1{
        width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
    }

    #banner-homepage .et_pb_text_inner h2{

        font-size: 38px !important;
    }

    .sidebar-main #woocommerce_layered_nav-3{
        width: 100%;
        margin-left: 0px;
    }

    .sidebar-main #pwb_list_widget-8 .pwb-columns{
        text-align: center;
        width: 16.66%;
        padding: 0px;
    }
}

@media (max-width: 550px) {
    .sidebar-main #pwb_list_widget-8 .pwb-columns{
        text-align: center;
        width: 33.33%;
        margin-bottom: 25px;
    }

    .sidebar-main #pwb_list_widget-8 .pwb-columns img{
        width: 80px;
        height: auto;
        max-width: 80%;
    }
    .sidebar-main #pwb_list_widget-8 .pwb-row{
        padding:0px 22px;
        margin-bottom: 0px;
    }

    .sidebar-main .widget .woocommerce-widget-layered-nav-dropdown{
        padding: 0px 20px 20px;
    }
    .ast-left-sidebar #content>.ast-container{
        padding: 0px 20px;
    }

    .sidebar-main #pwb_list_widget-8 .pwb-columns:nth-child(1), .sidebar-main #pwb_list_widget-8 .pwb-columns:nth-child(4){
        text-align: left;
    }
    .sidebar-main #pwb_list_widget-8 .pwb-columns:nth-child(3), .sidebar-main #pwb_list_widget-8 .pwb-columns:nth-child(6){
        text-align: right;
    }

    .sidebar-main #woocommerce_layered_nav-1 .select-selected{
        font-size: 13px;
        height: 32px;
        line-height: 30px;
    }
    .sidebar-main #woocommerce_layered_nav-1 .custom-select .select-selected:after{
        top: -1px;
    }
    #woocommerce_layered_nav-1 .select2-container .select2-selection--single{
        padding: 7px 20px;
    }
    #woocommerce_layered_nav-1 .select2-container .select2-selection--single .select2-selection__rendered{
        font-size: 13px;
    }

    #woocommerce_layered_nav-1 .select2-container .select2-selection--single .select2-selection__arrow{
        right: 20px;
        text-align: right;
        top: 2px;
    }
    #woocommerce_layered_nav-3 .select2-container .select2-selection--single{
        padding: 7px 20px;
    }
    #woocommerce_layered_nav-3 .select2-container .select2-selection--single .select2-selection__arrow{
        right: 20px;
        text-align: right;
        top: 2px;
    }
    #woocommerce_layered_nav-3 .select2-container{
        margin-bottom: 15px;
    }
    .sidebar-main .widget .widget-title{
        line-height: 32px;
        font-size: 16px;
        padding-left: 20px;
    }
    .sidebar-main #woocommerce_layered_nav-3 .woocommerce-widget-layered-nav-dropdown select{
        padding-left: 20px;
    }
    .sidebar-main #woocommerce_layered_nav-1 .select-items div{
        line-height: 32px;
        padding-left: 20px;
        font-size: 13px;
    }
}


@media (max-width: 479px) {
    .home.woocommerce-page .content-homepage ul.products li.product:nth-child(n){
        width: 48% !important;
        margin: 0px 4% 20px 0px !important;
    }

    .home.woocommerce-page .content-homepage ul.products li.product:nth-child(2n){
        margin-right: 0px !important;
    }
}